<div class="row">
	<!-- Products -->
	<div class="product-container col-md-4" ng-repeat="product in store.products track by $index">
		<img class="sneaker-img" ng-src="images/{{product.image}}" alt="{{product.name}}">
		<div class="product-details">
			<h2 class="product-brand">{{product.brand}}</h2>
			<h3 class="product-name">{{product.name}}</h3>
			<span class="product-price">{{product.price | currency}}</span>
		</div>
		<button class="btn product-btn" ng-click="store.addToCart(product, $index)">Add to cart</button>
		<div class="product-limit" ng-show="$index === store.selectedProduct">{{product.limit}}</div>
	</div>

	<!-- Cart -->
	<div class="col-md-12">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="product in store.cart">
				<h4>{{product.brand}}</h4>
				<h5>{{product.name}}</h5>
				<p>{{product.price | currency}}</p>
				<button class="btn btn-danger" ng-click="store.removeFromCart(product)">Remove</button>
			</li>
		</ul>
	</div>
</div>
